.textField {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

.labels {
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

.buttons {
    -fx-border-radius: 5;
}

.text-field-error {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

.text-field-valid {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-style: solid;
}

/* Bakgrunnslitur รก footer */
.footerVBOX {
    -fx-background-color: rgb(200,200,200);
}

.hvertHbox {
    -fx-border-color: transparent transparent black transparent;
}